<div fxLayout="column " style="height: calc( 100vh - 56px );background-image: url(&apos;https://i.pinimg.com/564x/8c/98/99/8c98994518b575bfd8c949e91d20548b.jpg&apos;)" class="chat-container" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="row wrap" style="height:50px;padding:10px;" class="accent-color" fxLayoutGap="1em" fxLayoutAlign="start center" [fxShow]="true"><mat-icon style="cursor:pointer;" (click)="toGoBack()">keyboard_arrow_left</mat-icon><mat-icon style="font-size:30px">account_circle</mat-icon>
    <div style="color: black;">
      {{email}}
    </div>
  </div><bh-messages style="flex:2; overflow:auto;" [messages]="this.messages" [currentUser]="this.currentUser"></bh-messages>
  <div fxLayout="row wrap" style="background-color:whitesmoke;padding:10px;" fxLayoutGap="1em" fxLayoutAlign="start center" [fxShow]="true"><input [(ngModel)]="page.msg" (keyup.enter)="messsage()" (input)="getTyping()" style="width: calc( 100% - 25px - 4em );border: none;     height: 15px;border-radius: 20px;outline: none;font-size: large;" class="padding-1">
    <mat-icon style="cursor:pointer;" (click)="messsage()" *ngIf="page.isTyping">send</mat-icon><mat-icon class="cursor" *ngIf="page.isRecording" (click)="startRecording()">settings_voice</mat-icon>
  </div>
</div>